
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <br />
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br />
  <br />
  <%= f.label :about %>
  <%= f.check_box :about%>
  <br />
  <br />
  <%= f.label :img_url, "Image Url" %>
  <%= f.text_field :img_url %>
  <br />
  <br />
  <%= f.label :dumpster_id %>
  <%= f.collection_select :dumpster_id, @dumpsters, :id, :nickname, prompt: true %>
  <br />
  <br />
  <%= f.submit text %>
<% end %>
