<div class="container text-center">
  <h1><strong>Activity History</strong></h1>
</div>


<div class="af-card-container">
  <div class="history">
    <div class="information">
      <% if @user.days != [] %>
        <% @user.days.each do |day| %>
          <h6><%= link_to day.date, "/users/#{current_user.id}/days/#{day.id}"%></h6>
          <% if day.activities == []%>
            <% day.destroy %>
          <% else %>
            <% day.activities.each do |activity|%>
              <p><%= activity.name %></p>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p><%= "User has no Activity History yet" %></p>
      <% end %>
    </div>
    <div class="title">
      <% if current_user.id == params[:id].to_i %>
        <h6>Add Activity to Specific Day</h6>
        <%= form_for @calendar do |f| %>
          <%= f.date_field :date %>
          <%= f.submit "Select" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
